<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/dashboard">
                <span> <img src="./assets/icon64.png" width="30" height="30" class="d-inline-block align-top" alt=""> </span>Web Recorder
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;">Help&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/documentation" target="_blank"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;Documentation</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a routerLink="/learn-more" target="_blank"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;Learn More</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;">{{firstName}} {{lastName}}&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/dashboard/account-settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;Account Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a (click)="logout()" style="cursor: pointer;"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <ol class="breadcrumb" style="background-color: white;">
        <li class="breadcrumb-item"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;<a routerLink="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Account Settings</li>
    </ol>
    <hr>

    <h3>Personal Details</h3><br>
    <form name="detailsForm" (ngSubmit)="fD.form.valid && onSaveChanges()" #fD="ngForm" novalidate>
        <div *ngIf="detailsMessage" [ngClass]="{ 'alert': detailsMessage, 'alert-success': detailsStatus === 'success', 'alert-danger': detailsStatus === 'fail' }" role="alert">
            {{detailsMessage}}
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': fD.submitted && !firstname.valid }">
            <label>First Name</label>
            <input name="firstName" type="text" class="form-control" [(ngModel)]="currentUser.firstName" #firstname="ngModel" style="width: 40%">
            <div *ngIf="fD.submitted && !firstname.valid" class="help-block">First name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': fD.submitted && !lastname.valid }">
            <label>Last Name</label>
            <input name="lastName" type="text" class="form-control" [(ngModel)]="currentUser.lastName" #lastname="ngModel" style="width: 40%">
            <div *ngIf="fD.submitted && !lastname.valid" class="help-block">Last name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': fD.submitted && !Email.valid }">
            <label>Email</label>
            <input name="email" type="text" class="form-control" [(ngModel)]="currentUser.email" #Email="ngModel" style="width: 40%">
            <div *ngIf="fD.submitted && !Email.valid" class="help-block">Email is required</div>
        </div>
        <button class="btn btn-primary" type="submit">Save Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </form>
    <hr>

    <h3>Change Password</h3><br>
    <form name="passwordForm" (ngSubmit)="f.form.valid && onChangePassword()" #f="ngForm" novalidate>
        <div *ngIf="passwordMessage" [ngClass]="{ 'alert': passwordMessage, 'alert-success': passwordStatus === 'success', 'alert-danger': passwordStatus === 'fail' }" role="alert">
            {{passwordMessage}}
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !currentPass.valid }">
            <label>Current Password</label>
            <input name="currentPassword" type="password" class="form-control" [(ngModel)]="currentPassword" placeholder="Current Password" style="width: 40%" #currentPass="ngModel" required>
            <div *ngIf="f.submitted && !currentPass.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPass.valid }">
            <label>New Password</label>
            <input name="newPassword" type="password" class="form-control" [(ngModel)]="newPassword" placeholder="New Password" style="width: 40%" #newPass="ngModel" required>
            <div *ngIf="f.submitted && !newPass.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !repeatPass.valid }">
            <label>New Password</label>
            <input name="repeatPassword" type="password" class="form-control" [(ngModel)]="newPasswordRepeat" placeholder="New Password (Again)" style="width: 40%" #repeatPass="ngModel" required>
            <div *ngIf="f.submitted && !repeatPass.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Change Password</button>
        </div>
    </form>
    <hr><br>

    <h3>Delete Account</h3>
    <button class="btn btn-danger btn-block" style="width: 25%" (click)="modal.open()">Delete Account</button>

</div>

<br><br><br><br><br><br><br>
<div class="footer">
    <p style="font-size: 110%">Web Recorder - Automated Website Testing and Monitoring - &copy; 2017 Created By <a href="https://www.linkedin.com/in/nirasdimitris/" target="_blank" style="color:#888585;">Dimitriοs Niras</a></p>
    <p style="font-size: 90%">
        Icons made by
        <a href="http://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha" target="_blank" style="color:#888585;">
            Pixel Buddha
        </a> from
        <a href="http://www.flaticon.com" title="Flaticon" target="_blank" style="color:#888585;">
            www.flaticon.com
        </a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" style="color:#888585;">
            CC 3.0 BY
        </a>
    </p>
</div>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Delete your account?</h4>
    </modal-header>
    <modal-body>
        Are you sure you want to close your account? All of the data in your personal account including suites, tests and results will be permanently deleted. It cannot be restored so make sure you are absolutely sure you want to do this.
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteAccount()">Yes, delete everything and close my account</button>
    </modal-footer>
</modal>