<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">
                <span> <img src="./assets/icon64.png" width="30" height="30" class="d-inline-block align-top" alt=""> </span>Web Recorder
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li> <a class="nav-link" routerLink="/learn-more" style="color:white;">Learn More </a> </li>
                <li> <a class="nav-link" routerLink="/documentation" style="color:white;">Documentation </a> </li>
                <li> <a class="nav-link" routerLink="/sign-in" style="color:white;">Sign in</a> </li>
                <li class="active"> <a class="nav-link" routerLink="/sign-up" style="color:white;">Create Free Account</a> </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form class="form-horizontal form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
        <div *ngIf="passwordMessage" [ngClass]="{ 'alert': passwordMessage, 'alert-success': passwordStatus === 'success', 'alert-danger': passwordStatus === 'fail' }" role="alert">
            {{passwordMessage}}
        </div>
        <h1 class="form-heading"><b>Password Reset</b></h1>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password" class="col-sm-2 control-label">New Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" placeholder="New Password" [(ngModel)]="newPassword" #password="ngModel" required autofocus>
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passwordRepeat.valid }">
            <label for="passwordRepeat" class="col-sm-2 control-label">New Password (Again)</label>
            <div class="col-sm-10">
                <input type="password" name="passwordRepeat" class="form-control" placeholder="New Password (Again)" [(ngModel)]="newPasswordRepeat" #passwordRepeat="ngModel" required>
                <div *ngIf="f.submitted && !passwordRepeat.valid" class="help-block">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-lg btn-primary" type="submit">Change Password</button>
            </div>
        </div>
    </form>
</div>

<br><br><br><br><br><br><br>
<div class="footer">
    <p style="font-size: 110%">Web Recorder - Automated Website Testing and Monitoring - &copy; 2017 Created By <a href="https://www.linkedin.com/in/nirasdimitris/" target="_blank" style="color:#888585;">Dimitriοs Niras</a></p>
    <p style="font-size: 90%">
        Icons made by
        <a href="http://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha" target="_blank" style="color:#888585;">
            Pixel Buddha
        </a> from
        <a href="http://www.flaticon.com" title="Flaticon" target="_blank" style="color:#888585;">
            www.flaticon.com
        </a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" style="color:#888585;">
            CC 3.0 BY
        </a>
    </p>
</div>