<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">
                <span> <img src="./assets/icon64.png" width="30" height="30" class="d-inline-block align-top" alt=""> </span>Web Recorder
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li> <a class="nav-link" routerLink="/learn-more" style="color:white;">Learn More </a> </li>
                <li> <a class="nav-link" routerLink="/documentation" style="color:white;">Documentation </a> </li>
                <li> <a class="nav-link" routerLink="/sign-in" style="color:white;">Sign in</a> </li>
                <li class="active"> <a class="nav-link" routerLink="/sign-up" style="color:white;">Create Free Account</a> </li>
            </ul>
        </div>
    </div>
</nav>

<div id="myCarousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img style="background-color:#696969;" alt="Head image">
            <div class="carousel-caption">
                <h1>Automated Website Testing</h1>
                <h4>Catch Website bugs before it's too late.</h4>
                <p> <a class="btn btn-lg btn-primary" routerLink="/learn-more" role="button">Learn More</a> </p>
            </div>
        </div>
    </div>
</div>

<div class="container"> <br>
    <h1 align="center">Get Up and Running in just 3 steps</h1><br><br>
    <div class="row">
        <div class="col-lg-4" align="center">
            <img class="rounded-circle" src="./assets/chrome.png" width="140" height="140">
            <h2>Add the Extension</h2>
            <p style="font-size: 110%">Simply install our extension in your Chrome web browser. Click the toolbar icon on your website to start recording a test case. </p>
        </div>
        <div class="col-lg-4" align="center">
            <img class="rounded-circle" src="./assets/recording.png" width="140" height="140">
            <h2>Record In Your Browser</h2>
            <p style="font-size: 110%">Our extension records all your interactions in the page. You can then set assertions that will be checked to determine if the test has passed.</p><br><br>
        </div>
        <div class="col-lg-4" align="center">
            <img class="rounded-circle" src="./assets/testing.png" width="140" height="140">
            <h2>Run Tests Continuously</h2>
            <p style="font-size: 110%">Once saved, your browser tests can be run continuously on a schedule or triggered via our API. We track results and notify you in case of fail.</p><br>
        </div>
    </div> <br><br><br>
    <div align="center">
        <a class="btn btn-lg btn-primary" routerLink="/sign-up" role="button">Create Free Account</a>
        <a class="btn btn-lg btn-primary" routerLink="/learn-more" role="button">Learn More</a>
    </div>
</div>

<br><br><br><br><br><br><br>
<div class="footer">
    <p style="font-size: 110%">Web Recorder - Automated Website Testing and Monitoring - &copy; 2017 Created By <a href="https://www.linkedin.com/in/nirasdimitris/" target="_blank" style="color:#888585;">Dimitriοs Niras</a></p>
    <p style="font-size: 90%">
        Icons made by
        <a href="http://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha" target="_blank" style="color:#888585;">
            Pixel Buddha
        </a> from
        <a href="http://www.flaticon.com" title="Flaticon" target="_blank" style="color:#888585;">
            www.flaticon.com
        </a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" style="color:#888585;">
            CC 3.0 BY
        </a>
    </p>
</div>