<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/dashboard">
                <span> <img src="./assets/icon64.png" width="30" height="30" class="d-inline-block align-top" alt=""> </span>Web Recorder
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;">Help&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/documentation" target="_blank"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;Documentation</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a routerLink="/learn-more" target="_blank"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;Learn More</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;">{{currentUser.firstName}} {{currentUser.lastName}}&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/dashboard/account-settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;Account Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a routerLink="/" (click)="logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <ol class="breadcrumb" style="background-color: white;">
        <li class="breadcrumb-item"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;<a routerLink="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard/suites/' + suiteName]">{{suiteName}}</a></li>
        <li class="breadcrumb-item active" *ngIf="history !== undefined">{{history.date}} @ {{history.time}}</li>
    </ol>
    <hr>

    <div class="row">
        <div class="col-md-6" align="left">
            <h1><b>{{suiteName}}</b></h1>
        </div>
        <div class="col-md-6" align="right" style="margin-top: 25px;">
            <button class="btn btn-danger" (click)="modal.open()">Delete Result</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" (click)="returnToSuite()">Return to Suite <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
        </div>
    </div>
    <hr>

    <h2 *ngIf="history !== undefined">{{history.date}} @ {{history.time}}</h2><br>
    <h3>Tests</h3>
    <table class="table">
        <thead style="background-color: #DCDCDC;">
            <tr>
                <th class="max-width">TEST</th>
                <th class="no-wrap text-center">COMPLETED</th>
                <th class="no-wrap text-center">STEP RESULT</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let test of tests">
                <td>
                    <h4><a class="nav-link" (click)="onClickListener(test.testName)" style="cursor: pointer;"><b>{{test.testName}}</b></a></h4>
                </td>
                <td align="center">
                    <h5><b>{{test.tested.date}} @ {{test.tested.time}}</b></h5>
                </td>
                <td align="center">
                    <h5 *ngIf="test.status === 'PASSED'" style="color: green;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <b>PASSED</b></h5>
                    <h5 *ngIf="test.status === 'FAILED'" style="color: red;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <b>FAILED</b></h5>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<br><br><br><br><br><br><br>
<div class="footer">
    <p style="font-size: 110%">Web Recorder - Automated Website Testing and Monitoring - &copy; 2017 Created By <a href="https://www.linkedin.com/in/nirasdimitris/" target="_blank" style="color:#888585;">Dimitriοs Niras</a></p>
    <p style="font-size: 90%">
        Icons made by
        <a href="http://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha" target="_blank" style="color:#888585;">
            Pixel Buddha
        </a> from
        <a href="http://www.flaticon.com" title="Flaticon" target="_blank" style="color:#888585;">
            www.flaticon.com
        </a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" style="color:#888585;">
            CC 3.0 BY
        </a>
    </p>
</div>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Delete this suite result?</h4>
    </modal-header>
    <modal-body>
        Are you sure you want to delete this suite result? All the test results in this suite result will be permanently deleted.
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteResult()">Yes, delete the result</button>
    </modal-footer>
</modal>