<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">
                <span> <img src="./assets/icon64.png" width="30" height="30" class="d-inline-block align-top" alt=""> </span>Web Recorder
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li> <a class="nav-link" routerLink="/learn-more" style="color:white;">Learn More </a> </li>
                <li> <a class="nav-link" routerLink="/documentation" style="color:white;">Documentation </a> </li>
                <li> <a class="nav-link" routerLink="/sign-in" style="color:white;">Sign in</a> </li>
                <li class="active"> <a class="nav-link" routerLink="/sign-up" style="color:white;">Create Free Account</a> </li>
            </ul>
        </div>
    </div>
</nav>

<div id="myCarousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img style="background-color:#696969;" alt="Head image">
            <div class="carousel-caption">
                <h1>Automated Browser Testing & Monitoring</h1>
                <h4>Easily build browser tests for your website or application. Monitor continously.</h4>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3><b>Record Tests in Your Browser</b></h3>
            <p style="font-size: 113%">Your browser tests are going to mimic a user's journey through your website or application, so why not create them via your own journey? Web Recorder provides a free <a href="https://github.com/AuthEceSoftEng/web-recorder-chrome-plugin" target="_blank">Chrome recorder extension</a>                that allows you to record operations and assertions right in your web browser. Once you're done recording a test, it's saved to our cloud service. At that point, you can view, edit and automate the test within your account.</p>
        </div>
        <div class="col-md-6">
            <br><br><br>
            <img src="./assets/extension.png">
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <h3><b>Build and Manage Your Tests With Our Editor</b></h3>
            <img src="./assets/editor.png" width="550" height="447">
        </div>
        <div class="col-md-6">
            <br><br><br>
            <p style="font-size: 113%">Would you prefer to build your tests manually, instead of recording them? For that reason we created a visual editor. Instead of coding your own test cases, you can build them quickly and easily using our simple interface. Run your tests immediately
                as you’re building them. You can also record tests initially, then edit them using this interface afterwards.</p>
            <p style="font-size: 113%">We support a large number of operations and assertions in your steps. Furthermore you can target your element with a variety of ways including CSS and XPath. Also you can implement pre-conditions and post-conditions to your tests.</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <h3><b>&nbsp;&nbsp;Monitor the Functionality of Your Website or Application</b></h3>
        <div class="col-md-6">
            <p style="font-size: 113%">Web Recorder gives you the ability to check your website’s functionality for issues by creating tests and running them on a daily schedule or when you deploy changes through our API.</p>
            <p style="font-size: 113%">Executing a test is the equivalent of a user performing the same actions in their web browser. You’ll be able to see exactly which steps passed and which failed (and why was failed). All test results are stored and can be viewed in your account
                in an analytic test history.</p>
        </div>
        <div class="col-md-6">
            <img src="./assets/monitor.png" width="550" height="437">
        </div>
    </div>
    <br><br><br><br>

    <div align="center">
        <h2><b>Ready for the next step?</b></h2>
        <p style="font-size: 110%">Create a free account and start using Web Recorder right now, or keep learning in our documentation section!</p>
        <div align="center">
            <a class="btn btn-lg btn-primary" routerLink="/sign-up" role="button">Create Free Account</a>
            <a class="btn btn-lg btn-primary" routerLink="/documentation" role="button">Documentation</a>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br>
<div class="footer">
    <p style="font-size: 110%">Web Recorder - Automated Website Testing and Monitoring - &copy; 2017 Created By <a href="https://www.linkedin.com/in/nirasdimitris/" target="_blank" style="color:#888585;">Dimitriοs Niras</a></p>
    <p style="font-size: 90%">
        Icons made by
        <a href="http://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha" target="_blank" style="color:#888585;">
            Pixel Buddha
        </a> from
        <a href="http://www.flaticon.com" title="Flaticon" target="_blank" style="color:#888585;">
            www.flaticon.com
        </a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" style="color:#888585;">
            CC 3.0 BY
        </a>
    </p>
</div>